{% extends "graphlayout.html" %}
{% block body %}

{% if not session.username or session.username %}
<h2>{{ title }}'s details</h2>
<br>
<form action="{{ url_for('graphsecondsearchcombo') }}" method="post">
        <dl>
            <dt>Search for LOs</dt>
            <dd><input type="text" size="30" name="title"></dd>
        </dl>
        <input type="submit" value="Submit">
    </form>
    <h3> LO(s) that aren't pre-requisite already: </h3>
    {% include "graphnewprerequisite.html" %}
<br>
<h3> LO(s) that are pre-requisite already: </h3>
    {% include "grapholdprerequisite.html" %}
{% endif %}


{% endblock %}